.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #0067A3;
  flex-shrink: 0;
  min-width: 500px;

  h1 {
    font-size: 28px;
  }
}